body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.txtAlign_Center {
  text-align: center;
}
.mrgTop20 {
  margin-top: 20px;
}
.mrgLeft10 {
  margin-left: 10px;
}
.mrgBottom20 {
  margin-bottom: 20px;
}
.mrgLeft10 {
  margin-left: 10px;
}
.clr {
  clear: both;
}
/*Loader CSS Start*/
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Loader CSS End*/
